.layout-table {
    width: 100%;
}

.layout-table__cell {
    vertical-align: top;
}

.layout-table__cell_left,
.layout-table__cell_right
{
    width: 50%;
}

.layout-table__cell-i
{
    margin: 0;
}

.layout-table__cell_left .layout-table__cell-i
{
    margin-right: 5px;
}

.layout-table__cell_right .layout-table__cell-i
{
    margin-left: 5px;
}

.deel-widget {
    box-sizing: border-box;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
}

.deel-widget_image
{
    border-radius: 5px;
}

.deel-widget__img {
    float: left;
}

.deel-widget__title
{
   text-transform:uppercase;
}

.deel-widget__subtitle
{
    color: black;
    line-height: 1em;
}

.widget-deel__meer
{
    display: inline-block;
    padding: 5px 10px;
    background-color: #8fb009;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#c1d83a),to(#8fb009));
    background-image: -webkit-linear-gradient(top,#c1d83a 0,#8fb009 100%);
    background-image: -moz-linear-gradient(top,#c1d83a 0,#8fb009 100%);
    background-image: -ms-linear-gradient(top,#c1d83a 0,#8fb009 100%);
    background-image: linear-gradient(top,#c1d83a 0,#8fb009 100%);
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    *zoom: 1;
    color: #000;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(255,255,255, .3);
    border-bottom: 1px solid #667b11;
    background-color: #8fb009;
    float: right;
    font-weight: bold;
}
.widget-deel__meer:hover
{
    color: #000;
    background-image: none;
    background-color: #c1d83a;
}

.deels-list
{
    text-align: justify;
    list-style: none;
}

.deels-list__item
{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: 324px;
    background: red;
    min-height: 200px;
    margin-right: 10px;
    margin-top:15px;
}
.deels-list__item:nth-child(3n)
{
    margin-right: 0;
}
